@media screen and (min-width: 768px) {

#menu-toggle,
.img-menu  {
    display: none;
}


.ul-nav {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        list-style-type: none;
        top: 0vh;
        right: 0;
        width: max-content;
        position: relative;
        left: 0;
        padding: 1rem;
        border: none;
       }
    
   
   
   .li-nav {
       height: max-content;
       padding: 0.1rem;
       margin: 0rem 1rem;
   }

}