* { padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    height: 100%;
    font-family: 'Bebas Neue', cursive;
}

body {
    height: 100vh;
    min-height: 100%;
    
}

header {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: rgb(13, 13, 13);
    color: #fafafa;
    width: 100%;
}

.logo {
    position: relative;
    transform: scale(0.9);
    bottom: -20px;
    z-index: 10;
}
nav {
    display: flex;
    align-items: center;

}

.ul-nav {
 display: flex;
 flex-direction: column;
 align-items: flex-end;
 list-style-type: none;
 position: absolute;
 top: 10vh;
 right: 1%;
 left: 1%;
 background-color: rgb(13, 13, 13);
 border:  1px solid #fafafa;
 border-top: 0;
 border-radius: 0 0 10px 10px ;
 padding: 1rem;
 display: none;
 gap: 1rem;
}




/* MENU HAMBURGUESA  */

#menu-toggle {
    visibility: hidden;
}

.img-menu {
    cursor: pointer
}

#menu-toggle:checked + .ul-nav {
    display: flex;

}





footer {
    height: 5vh;
    
    background-color: rgb(13, 13, 13);
    color: #fafafa;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

/* MAIN */

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85vh;
    background-image: url('images/background.jpg') ;
    background-size: cover;
    opacity: 1;
    min-height: 800px;

}

.form-card {
    max-height: 530px;
    min-height: 530px;
    /* height: 300px; */
    width: 370px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    opacity: 1;
    background-color: rgb(13, 13, 13);
    color: #fafafa;
    border-radius: 10px;
    padding: 2rem 2rem;
    gap: 1rem!important;
    box-shadow: 5px 5px 10px black;
}


select {
    background: rgb(13, 13, 13);
    border: none;
    color: #fafafa;
    height: 3rem;
    width: 100%; 
    font-family: 'Bebas Neue', cursive;
    font-size: 1.4rem;

}

hr {
    position: absolute;
    bottom: -20px;
    border: 1px solid #fafafa;
    width: 100%;
}





.container-select {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    position: relative;
}


/* CONTAINER TITLE, DESCRIPTION, IMG */

#tittle-pizzas {
    font-size: 2rem;
    letter-spacing: 6px;
} 

.hand {
    position: relative;
    right: 35px;
    z-index: 0;
    font-size: 2rem;
}


#container-imgJS {
    display: flex;
    flex-direction: column;
    justify-content: center!important;
    align-items: center!important;
    gap: 1rem;
}

.img-pizzaJS {
    width: 100%;
    object-fit: cover;
    border-radius:5px;
}

.container-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 3rem;
    gap: 10px;
}

.button-add, .button-cart {
    /* visibility: hidden; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border: none;
    font-family: 'Bebas Neue', cursive;
 
    border-radius: 5px;   
    cursor: pointer; 
}

.button-cart {
    width: 20%;
    background-color: #fafafa;
    color: black;

}

.button-add {
    width: 80%;
    background-color:firebrick;
    color: white;
    font-size: 26px;
}




/* HOVERS */

/* .li-nav:hover {
    cursor: pointer;
    border-bottom: 1px solid #fafafa;
    transform: scale(1.15);
    transition: all 1.6s;
} */

.logo:hover {
    transform: scale(1.0);
    transition: all 0.33s;

}

.logo:active {
    transform: scale(0.9);

}

.img-menu:active {
    transform: scale(0.9);
}

#tittle-pizzas:hover + .hand {
    
    transform: translate(20px);
    transition: transform 0.7s cubic-bezier(0.19, 1, 0.22, 1);
}


.li-nav {
    /* ME ESTABA FALTANDO POSICIONAR AL PADRE PARA QUE ME SALGA EL EFECTO, SINO ME SALIA EN EL UL, EN VEZ DEL LI */
    position: relative; 
}

.li-nav::after {
    content: '';
    position: absolute;
    height: 3px;
    background-color: goldenrod;
    box-shadow: 0px 0px 2px black;
    bottom: -5px;
    right: 0%;
    width: 0%;
    transition: .3s;

}

.li-nav:hover::after {
    content: '';
    width: 100%;
    left: 0%;

}


/* MAGIA JS */



.yourItems {
    width: 100%;
    height: 2rem;
}

.form-cart {
    max-height: 530px;
    min-height: 530px;
    /* height: 300px; */
    width: 370px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    opacity: 1;
    background-color: rgb(13, 13, 13);
    color: #fafafa;
    border-radius: 10px;
    padding: 2rem 2rem;
    box-shadow: 5px 5px 10px black;    
    ;    
}

.header-renderJS {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    letter-spacing: 2px!important;
}

.cards-renderJS {
 height: 70%;
 overflow: scroll;
 width: 100%;
 position: relative;
}

.cards-renderJS hr {
    position: absolute;
    bottom: 0;
    width: 100%;
    border: 1px solid #fafafa;
}

.price-renderJS {
height: 10%;
width: 100%;
display: flex;
justify-content: flex-end;
align-items: center;
font-size: 1.2rem;
}

.container-payAndBackJS {
    height: 10%;
    width: 100%;
    display: flex;
    gap: 0.5rem;
}

.button-toPayJS {
    height: 100%;
    width: 70%;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.5rem;
    border-radius: 5px;
    cursor: pointer;
    border: none;

}

.button-backJS {
    height: 100%;
    width: 30%;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.5rem;
    border-radius: 5px;
    cursor: pointer;
    background-color: brown;
    border: none;

}



.displayNone {
    display: none;
}

.displayBlock {
    display: block;
}